
    /* hide body scroll */
    body::-webkit-scrollbar {
      width: 0;
    }

    body::-webkit-scrollbar-thumb {
      width: 0;
      background: #fff;
      border-radius: 2px;
    }

    body::-webkit-scrollbar-track {
      background-color: transparent;
      border: 0;
    }

    .overflow-ellipsis {
      text-overflow: ellipsis;
    }

    /* Lenis */
    html.lenis {
      height: auto;
    }

    .lenis.lenis-smooth {
      scroll-behavior: auto;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
      overflow: hidden;
    }

    /* usefull classes */
    .pointer-events-none {
      pointer-events: none;
    }

    /* fluid fonts */
    @media screen and (min-width: 1440px) {
      html {
        font-size: calc(16px + 6 * ((100vw - 1440px) / 720));
      }
    }

    @media screen and (min-width: 320px) and (max-width: 1439px) {
      html {
        font-size: calc(14px + 2 * ((100vw - 320px) / 1000));
      }
    }

    body {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }

    .explore-link:hover .explore-link-icon>img {
      transform: translate(0, 20%);
    }

    /* heading with lines */
    .section-title-bordered {
      display: inline-block;
      padding: 8px 1.3125rem 2px;
      margin: 0 0 8px;
      position: relative;
    }

    @media screen and (max-width: 767px) {
      .section-title-bordered {
        padding: 8px 0.57rem 2px;
      }
    }

    .section-title-bordered:before,
    .section-title-bordered:after {
      position: absolute;
      width: 18px;
      height: 1px;
      background: #807f85;
      content: "";
    }

    .section-title-bordered.section-title-bordered--lg:before,
    .section-title-bordered.section-title-bordered--lg:after {
      height: 2px;
    }

    .section-title-bordered:before {
      top: 0;
      left: -5px;
      transform: rotate(-45deg);
      transform-origin: top right;
    }

    .section-title-bordered--gradient.section-title-bordered:before {
      background: linear-gradient(to right, #28efce 0%, #2ce7d2 100%);
    }

    .section-title-bordered:after {
      bottom: 0;
      right: -5px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }

    .section-title-bordered--gradient.section-title-bordered:after {
      background: linear-gradient(to right, #fb7c4f 0%, #fa7952 100%);
    }

    .section-title-bordered-line-1:before,
    .section-title-bordered-line-1:after {
      position: absolute;
      width: calc(100% - 13px);
      height: 1px;
      background: #807f85;
      content: "";
    }

    .section-title-bordered--lg .section-title-bordered-line-1:before,
    .section-title-bordered--lg .section-title-bordered-line-1:after {
      height: 2px;
    }

    .section-title-bordered-line-1:before {
      top: 0;
      left: 13px;
    }

    .section-title-bordered--gradient .section-title-bordered-line-1:before {
      background: linear-gradient(to right, #2be6d1 0%, #6a59e5 100%);
    }

    .section-title-bordered-line-1:after {
      bottom: 0;
      right: 13px;
    }

    .section-title-bordered--gradient .section-title-bordered-line-1:after {
      background: linear-gradient(to right, #fc914d 0%, #fb7c4f 100%);
    }

    .section-title-bordered-line-2:before,
    .section-title-bordered-line-2:after {
      position: absolute;
      width: 1px;
      height: calc(100% - 13px);
      background: #807f85;
      content: "";
    }

    .section-title-bordered--gradient .section-title-bordered-line-2:before {
      background: linear-gradient(to bottom, #28efce 0%, #69e79e 100%);
    }

    .section-title-bordered--gradient .section-title-bordered-line-2:after {
      background: linear-gradient(to bottom, #6a59e5 0%, #fb7a52 100%);
    }

    .section-title-bordered--lg .section-title-bordered-line-2:before,
    .section-title-bordered--lg .section-title-bordered-line-2:after {
      width: 2px;
    }

    .section-title-bordered-line-2:before {
      bottom: 0;
      left: 0;
    }

    .section-title-bordered-line-2:after {
      top: 0;
      right: 0;
    }

    .section-title-bordered--partial .section-title-bordered-line-1:after {
      width: 67%;
    }

    .section-title-bordered--partial .section-title-bordered-line-2:before {
      bottom: auto;
      top: 13px;
      left: 0;
      height: calc(100% - 30px);
    }

    .section-title-bordered--partial .section-title-bordered-line-2:after {
      display: none;
    }

    /* button additional styles */
    .btn-primary:before,
    .btn-primary:after {
      position: absolute;
      width: 10px;
      height: 1px;
      content: "";
    }

    .btn-primary:before {
      top: 0;
      left: -3px;
      transform: rotate(-45deg);
      transform-origin: top right;
      background: linear-gradient(to right, #fb6e53 0%, #fb7454 100%);
    }

    .btn-primary:after {
      bottom: 0;
      right: -3px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      background: linear-gradient(to right, #74e79a 0%, #74e79a 100%);
    }

    .btn-primary-lines-1:before,
    .btn-primary-lines-1:after {
      position: absolute;
      width: calc(100% - 8px);
      height: 1px;
      content: "";
    }

    .btn-primary-lines-1:before {
      top: 0;
      left: 7px;
      background: linear-gradient(to right, #fb7454 0%, #bcda68 100%);
    }

    .btn-primary-lines-1:after {
      bottom: 0;
      right: 7px;
      background: linear-gradient(to right, #6072e2 0%, #74e79a 100%);
    }

    .btn-primary-lines-2:before,
    .btn-primary-lines-2:after {
      position: absolute;
      width: 1px;
      content: "";
    }

    .btn-primary-lines-2:before {
      bottom: 0;
      left: 0;
      height: 56%;
      background: linear-gradient(to bottom, #6e52e5 0%, #6072e2 100%);
    }

    .btn-primary-lines-2:after {
      top: 0;
      right: 0;
      height: calc(100% - 7px);
      background: linear-gradient(to bottom, #bcda68 0%, #74e79a 100%);
    }

    .btn-primary--grey:before,
    .btn-primary--grey:after,
    .btn-primary--grey .btn-primary-lines-2:after,
    .btn-primary--grey .btn-primary-lines-2:before,
    .btn-primary--grey .btn-primary-lines-1:before,
    .btn-primary--grey .btn-primary-lines-1:after {
      background: #595959;
    }

    .btn-primary-text:before,
    .btn-primary-text:after {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 0.25rem;
      height: 0.25rem;
      background-color: #efefe5;
      border-radius: 50%;
      content: "";
    }

    .btn-primary-text:before {
      left: 0;
    }

    .btn-primary-text:after {
      left: 0.4375rem;
    }

    .btn-primary--dropdown .btn-primary-text,
    .btn-primary--no-icon .btn-primary-text,
    .btn-primary--custom-icon .btn-primary-text {
      padding-left: 0;
    }

    .btn-primary--dropdown .btn-primary-text:before,
    .btn-primary--dropdown .btn-primary-text:after,
    .btn-primary--no-icon .btn-primary-text:before,
    .btn-primary--no-icon .btn-primary-text:after,
    .btn-primary--custom-icon .btn-primary-text:before,
    .btn-primary--custom-icon .btn-primary-text:after {
      display: none;
    }

    /* custom slider arrows */
    .custom-slider-arrow.w-slider-arrow-left,
    .custom-slider-arrow.w-slider-arrow-right,
    .custom-slider-arrow .w-icon-slider-left,
    .custom-slider-arrow .w-icon-slider-right {
      width: 3.25rem;
      height: 3.25rem;
      z-index: 4;
    }

    .custom-slider-arrow .w-icon-slider-left:before,
    .custom-slider-arrow .w-icon-slider-right:before {
      display: none;
    }

    .custom-slider-arrow[style*="display: none;"] {
      display: block !important;
      pointer-events: none;
    }

    .custom-slider-arrow[style*="display: none;"]>div {
      opacity: 0.3;
    }

    .custom-slider-arrow .w-icon-slider-left,
    .custom-slider-arrow .w-icon-slider-right {
      background: url(https://assets-global.website-files.com/64354b8ce4872ad8cd1c7b04/6446951576624313547bb1bd_arrow-next.svg) no-repeat 50% 50% / contain;
      transition: opacity .3s;
    }

    .custom-slider-arrow .w-icon-slider-left {
      transform: rotate(-180deg);
    }

    .custom-slider-arrow--bottom.w-slider-arrow-left {
      top: auto;
      bottom: 9vh;
      left: 2.2%;
    }

    .custom-slider-arrow--bottom.w-slider-arrow-right {
      top: auto;
      bottom: 9vh;
      left: calc(2.2% + 4.125rem);
      right: auto;
    }

    .custom-slider-arrow--top.w-slider-arrow-left {
      bottom: auto;
      top: 0;
      left: -44%;
      right: auto;
    }

    .custom-slider-arrow--top.w-slider-arrow-right {
      bottom: auto;
      top: 0;
      left: calc(-44% + 4.125rem);
      right: auto;
    }

    .custom-slider-arrow .w-icon-slider-left:hover,
    .custom-slider-arrow .w-icon-slider-right:hover {
      opacity: .7;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
      .custom-slider-arrow--bottom.w-slider-arrow-left {
        left: 6vw;
      }

      .custom-slider-arrow--bottom.w-slider-arrow-right {
        left: calc(6vw + 4.125rem);
      }

      .custom-slider-arrow--top.w-slider-arrow-left,
      .custom-slider-arrow--top.w-slider-arrow-right {
        width: 100%;
        height: 70px;
      }

      .custom-slider-arrow--top.w-slider-arrow-right {
        left: 100%;
      }
    }

    @media screen and (max-width: 991px) {

      .custom-slider-arrow--top.w-slider-arrow-left,
      .custom-slider-arrow--top.w-slider-arrow-right {
        top: 100%;
        border-bottom: 1px solid #353539;
      }

      .custom-slider-arrow--top.w-slider-arrow-left {
        left: 0;
      }
    }

    @media screen and (max-width: 767px) {

      .custom-slider-arrow.w-slider-arrow-left,
      .custom-slider-arrow.w-slider-arrow-right,
      .custom-slider-arrow .w-icon-slider-left,
      .custom-slider-arrow .w-icon-slider-right {
        width: 27px;
        height: 27px;
      }

      .custom-slider-arrow--bottom.w-slider-arrow-right {
        top: 15px;
        bottom: auto;
        left: auto;
        right: 15px;
      }

      .custom-slider-arrow--bottom.w-slider-arrow-left {
        top: 15px;
        bottom: auto;
        left: auto;
        right: 54px;
      }

      .custom-slider-arrow--top.w-slider-arrow-left,
      .custom-slider-arrow--top.w-slider-arrow-right {
        width: 50%;
        height: 60px;
      }

      .custom-slider-arrow--top.w-slider-arrow-right {
        left: 50%;
      }
    }

    /* hover effect */
    .btn-secondary *,
    .btn-primary *,
    .link-more * {
      pointer-events: none;
    }

    .btn-primary input,
    .btn-primary button {
      pointer-events: auto;
    }

    /* ai model tabs */
    .ai-model-content-head:not(.active) .ai-model-title-h3.ai-model-title-tab {
      background: none;
    }

    /*Zalyva styles*/
    .top-banner.hidden {
      max-height: 0;
      padding: 0;
      translate: 0 -200%;
      transition: all .2s ease-in-out;
    }

    .site-header {
      position: sticky;
      top: 0;
    }

    .faq-2 .miscellaneous-2 {
      transition: all .2s ease-in-out;
    }

    .faq-2 .miscellaneous-2[aria-selected="true"] * {
      color: #EFEFE5;
    }

    .faq-answer-2 {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }

    .plus-wrap-2 {
      transition: transform 0.3s ease-in-out;
    }

    .rotate {
      transform: rotate(45deg);
    }

    .custom-tabs .w--current .articles-bg,
    .latest-items .w--current .articles-bg {
      display: block;
    }

    /*Mobile menu*/
    .w-dropdown-list.w--open .w-dropdown-link {
      margin: 0;
    }

    @media screen and (max-width: 991px) {
      .w-nav[data-collapse=medium] .w-nav-button {
        display: flex !important;
      }

      .w-dropdown-toggle.w--open .header__icon-arrow {
        transform: scaleY(-1);
      }

      .nav-menu-2 {
        max-height: 86vh;
        overflow: auto;
      }
    }

    @media screen and (min-width: 992px) {
      .menu-2 .nav-link-5:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0 auto;
        width: 0;
        height: 1px;
        background: #EFEFE5;
        transition: width .2s;
        content: "";
      }

      .menu-2 .nav-link-5:hover:after,
      .menu-2 .nav-link-5.w--current:after {
        width: 100%;
      }

      .menu-2 .w-dropdown-list.w--open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 100%;
        left: -20px;
      }
    }

    .menu-button-3.w--open .menu-icon-item.mii-1 {
      top: 50%;
      transform: rotate(45deg);
    }

    .menu-button-3.w--open .menu-icon-item.mii-2 {
      top: 50%;
      transform: rotate(-45deg);
    }

    /* responsive adjustments */
    @media screen and (max-width: 991px) {
      .hero-bottom-center br {
        display: none;
      }
    }

    @media screen and (min-width: 1440px) {
      .body-no-banner .container.hero-flex-container {
        min-height: 91vh;
      }
    }

    /* team */
    .team-card-bio {
      width: 100% !important;
    }

    .team-card-avatar img {
      clip-path: polygon(7% 0, 93% 0, 100% 7%, 100% 93%, 93% 100%, 7% 100%, 0 93%, 0 7%);
      filter: grayscale(1);
    }

    .profile-image img {
      clip-path: polygon(15% 0, 85% 0, 100% 0%, 100% 85%, 85% 100%, 15% 100%, 0 100%, 0 0%);
      filter: grayscale(1);
    }

    /* pricing tabs */
    .pricing-tab-link:not(.w--current) .pricing-tab-text {
      background: none;
    }

    /* custom form */

    .form-field {
      resize: vertical;
    }

    .form-field:required {
      background-image: url(https://assets-global.website-files.com/64354b8ce4872ad8cd1c7b04/645a3c7ba47fbd79366e7ccb_asterisk.svg);
      background-position: 100% 1.15rem;
      background-repeat: no-repeat;
    }

    .form-label {
      pointer-events: none;
      transition: opacity .2s, transform .2s;
    }

    .label-moved .form-label {
      transform: translate(0, -90%);
      font-size: .8125rem;
      opacity: .6;
    }

    .w-form-fail,
    .w-form-done {
      background: transparent;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-transition-delay: 9999s;
      transition-delay: 9999s;
    }

    /* marquee */
    @keyframes marqueeScroll {
      0% {
        transform: translate(0, 0);
      }

      100% {
        transform: translate(-100%, 0);
      }
    }

    .soliutions-image-track {
      pointer-events: none;
    }

    .top-banner-content:not(:first-child) {
      display: none !important;
    }

    /* youtube */
    .youtube-video img,
    .youtube-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .youtube-video iframe {
      z-index: 4;
    }

    .youtube-video:before,
    .youtube-video:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      content: "";
    }

    .youtube-video:before {
      width: 4.2rem;
      height: 3rem;
      background-color: #353539;
      z-index: 1;
      opacity: 0.8;
      border-radius: 0.75rem;
      transition: opacity .3s;
    }

    .youtube-video:hover:before {
      opacity: 1;
    }

    .youtube-video:after {
      z-index: 2;
      border-style: solid;
      border-width: 0.625rem 0 0.625rem 1.125rem;
      border-color: transparent transparent transparent #fff;
    }

    .twolines-ellipsis {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: pre-wrap;
    }



    // hero slider
    .no-top-banner .container.hero-flex-container {
      min-height: 93vh;
    }

    .hero-slide {
      position: absolute;
      top: 90px;
      left: 0;
      opacity: 1;
      transform: translate(0, -100%);
      transition: all .3s;
    }

    .hero-slider-inner {
      overflow: hidden;
    }

    .hero-slide.active {
      opacity: 1;
      animation: heroSlideActiveAnim .3s forwards;
    }

    .hero-slide.active+.hero-slide {
      opacity: 0.5;
      animation: heroSlideAnim .3s forwards;
      transition: unset;
    }

    @media screen and (max-width: 767px) {
      .hero-slide.active+.hero-slide {
        opacity: .2;
      }
    }

    @keyframes heroSlideAnim {
      0% {
        transform: translate(0, 200%);
      }

      100% {
        transform: translate(0, 100%);
      }
    }

    @keyframes heroSlideActiveAnim {
      0% {
        transform: translate(0, 100%);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    /* Solutions additional animation */
    .solutions-row .solutions-actions {
      transition: opacity .3s;
    }

    .solutions-row[style*="opacity: 0.35;"] .solutions-actions {
      opacity: 0;
    }

    .solutions-row[style*="opacity: 0.35;"] .nb-default {
      filter: grayscale(1);
    }

    .webgl {
      pointer-events: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      .webgl canvas {
        transform: scale(0.85);
        transform-origin: center bottom;
      }
    }

    @media screen and (min-width: 300px) and (max-width: 450px) {
      .webgl canvas {
        transform: scale(0.85);
        -webkit-mask-image: linear-gradient(to top, transparent 0%, #0a090f 25%, #0a090f 100%);
        mask-image: linear-gradient(to top, transparent 0%, #0a090f 25%, #0a090f 100%);
      }
    }

    body:not(.loaded) .page-loader {
      display: flex !important;
      opacity: 1 !important;
      border: 1px solid black;
    }

    /* path animations */
    /*[anim-trigger-hero],*/
    [anim-trigger] {
      opacity: 0;
      transform: translate(0, 50%);
      transition: opacity .3s, transform .3s;
    }

    /*[anim-trigger-hero].is-animated,*/
    [anim-trigger].is-animated {
      transform: translate(0, 0);
      opacity: 1;
    }

    .path-anim {
      transition: stroke-dashoffset .3s linear;
    }

    .path-anim-1 {
      stroke-dasharray: 482;
      stroke-dashoffset: -482;
      transition-delay: .5s;
    }

    .path-anim-1.path-anim-delay-95 {
      transition-delay: .95s;
    }

    .path-anim-2 {
      stroke-dasharray: 270;
      stroke-dashoffset: 270;
      transition-delay: 0.9s;
    }

    .path-anim-2.path-anim-delay-1-1 {
      transition-delay: 1.1s;
    }

    .path-anim-left {
      stroke-dasharray: 138;
      stroke-dashoffset: 138;
      transition: stroke-dashoffset .15s .65s linear;
    }

    .path-anim-right {
      stroke-dasharray: 142;
      stroke-dashoffset: 142;
      transition: stroke-dashoffset .15s .8s linear;
    }

    .path-anim-left-1 {
      stroke-dasharray: 184;
      stroke-dashoffset: -184;
      transition: stroke-dashoffset .15s .6s linear;
    }

    .path-anim-right-2 {
      stroke-dasharray: 146;
      stroke-dashoffset: 146;
      transition: stroke-dashoffset .15s .85s linear;
    }

    .path-anim-sm-1 {
      stroke-dasharray: 365;
      stroke-dashoffset: -365;
      transition-delay: .5s;
    }

    .path-anim-sm-2 {
      stroke-dasharray: 153;
      stroke-dashoffset: 153;
      transition-delay: .75s;
    }

    .is-animated .path-anim-sm-1,
    .is-animated .path-anim-sm-2,
    .is-animated .path-anim-left-1,
    .is-animated .path-anim-right-2,
    .is-animated .path-anim-left,
    .is-animated .path-anim-right,
    .is-animated .path-anim-1,
    .is-animated .path-anim-2 {
      stroke-dashoffset: 0;
    }

    .section-title-bordered[anim-trigger]:before,
    .section-title-bordered[anim-trigger]:after,
    .section-title-bordered[anim-trigger] .section-title-bordered-line:before,
    .section-title-bordered[anim-trigger] .section-title-bordered-line:after {
      opacity: 0;
      transition: opacity .4s .5s;
    }

    .section-title-bordered[anim-trigger].is-animated:before,
    .section-title-bordered[anim-trigger].is-animated:after,
    .section-title-bordered[anim-trigger].is-animated .section-title-bordered-line:before,
    .section-title-bordered[anim-trigger].is-animated .section-title-bordered-line:after {
      opacity: 1;
    }

    /* copy code styles */
    .copy-code-full-text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
    }

    .copy-code-block:before {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      z-index: 10;
      background: rgba(0, 0, 0, 0.75);
      justify-content: center;
      align-items: center;
      content: "Copied";
      font-family: Roboto Mono, sans-serif;
      text-transform: uppercase;
      font-size: 0.875rem;
      display: none;
    }

    .copy-code-block.copied .copy-icon,
    .copy-code-block .copied-icon {
      display: none;
    }

    .copy-code-block.copied .copied-icon {
      display: block;
    }

    .copy-code-block.copied:before {
      display: flex;
    }

    .contractor-action.is-active img {
      transform: scaleY(-1)
    }

    ;
    // hero slider ************************end
