@media (min-width:992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="da52946c-a4c6-114f-c5f2-cbcfb26bca68"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="da52946c-a4c6-114f-c5f2-cbcfb26bca6d"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2d214eeb-5a1c-a173-494e-1471e9a6a260"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2d214eeb-5a1c-a173-494e-1471e9a6a263"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a1936c"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a19373"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a19393"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193a9"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193b0"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193b7"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193be"] {
      opacity: 0;
    }
  }

  @media (max-width:991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="da52946c-a4c6-114f-c5f2-cbcfb26bca68"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="da52946c-a4c6-114f-c5f2-cbcfb26bca6d"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2d214eeb-5a1c-a173-494e-1471e9a6a260"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="2d214eeb-5a1c-a173-494e-1471e9a6a263"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a1936c"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a19373"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a19393"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193a9"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193b0"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193b7"] {
      opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193be"] {
      opacity: 0;
    }
  }

  @media (max-width:767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193a0"] {
      display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="609a62dd-47cd-8bad-6657-b9f754fea2ae"] {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d29df282-5b64-0d93-cb12-8d93ade55d92"] {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
  }

  @media (max-width:479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="03001267-21de-c77d-651b-29f8c8a193a0"] {
      display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="609a62dd-47cd-8bad-6657-b9f754fea2ae"] {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d29df282-5b64-0d93-cb12-8d93ade55d92"] {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
  }
